.book-list {
  width: 80vw;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.book-list__wrapper {
  display: flex;
  flex-direction: column;
  gap: 3em;
  align-items: center;
}

.no-books-div {
  font-size: 3em;
  font-weight: bold;
  color: #8d8d8d;
  user-select: none;
}

.book-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid gray;
  padding: 0.5em;
  border-radius: 10px;
}
