.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.5em;
  font-weight: bold;
}

.nav h1 {
  font-size: 2em;
}

.nav-links {
  display: flex;
  gap: 0.5em;
  align-items: center;
}
